<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width" />
<title>becados</title>
<!-- jQuery library -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	rel="stylesheet"></link>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="panel panel-default">
		<div class="panel-heading">
			<strong>Becados</strong>
			
		</div>
		
		
		<div class="panel-body">
			<div class="table-responsive">
				<table
					class="table table-sm table-striped table-hover table-bordered">
					<thead>
						<tr>
							
							<th>Nombre</th>
							<th>Apellido</th>
							<th>ID</th>
							<th>Fecha_Nacimiento</th>
							<th>Fecha_ingreso_acoes</th>
							<th>Fecha_ingreso_proyecto</th>
							<th>Fecha_salida_proyecto</th>
							<th>NotaMedia</th>
							<th>Observaciones</th>
							<th>PROYECTO</th>
							<th>COMUNIDAD</th>
							<th>Operaciones</th>
							
						</tr>
					</thead>
					<tbody>
						<tr th:each="becado : ${becados}">
							<td th:text="${becado.nombre}"></td>
							<td th:text="${becado.apellido}"></td>
							<td th:text="${becado.id}"></td>
							<td th:text="${becado.fecha_nacimiento}"></td>
							<td th:text="${becado.fecha_ingreso_acoes}"></td>
							<td th:text="${becado.fecha_ingreso_proyecto}"></td>
							<td th:text="${becado.fecha_salida_proyecto}"></td>
							<td th:text="${becado.notaMedia}"></td>
							<td th:text="${becado.observaciones}"></td>
							<td th:text="${becado.proyecto}"></td>
							<td th:text="${becado.comunidad}"></td>
							<td>
								<div class="btn-group">

									<form action="#" id="deleteForm" th:method="delete"
										th:action="@{/becados/{id}(id=${becado.id})}">
										<input type="submit" class="delete btn btn-sm btn-danger"
											value="Eliminar" />
									</form>

									<form action="#" id="editForm" th:method="get"
										th:action="@{/becados/edit/{id}(id=${becado.id})}">
										<input type="submit" class="primary btn btn-sm btn-primary"
											value="Editar" />
									</form>
									
									<form action="#" id="ConsultForm" th:method="get"
										th:action="@{/becados/consult/{id}(id=${becado.id})}">
										<input type="submit" class="primary btn btn-sm btn-info"
											value="Consultar" />
									</form>

								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div th:if="${delete != null && delete}" class="alert alert-success">
			<strong>OK!</strong> El becado ha sido eliminado correctamente.
		</div>
		<div th:if="${delete != null && !delete}" class="alert alert-danger">

			<strong>Error!</strong> Error eliminando el becado.
		</div>
		<div th:if="${update != null && update}" class="alert alert-success">
			<strong>OK!</strong> El becado ha sido actualizado correctamente.

			<strong>Error!</strong> Error eliminado el becado.
		</div>
		<div th:if="${update != null && update}" class="alert alert-success">
			<strong>OK!</strong> El becado ha sido actualizada correctamente.

		</div>
		<div th:if="${update != null && !update}" class="alert alert-danger">
			<strong>Error!</strong> No se ha actualizado el becado.
		</div>
		<div th:if="${create != null && create}" class="alert alert-success">
			<strong>OK!</strong> El becado ha sido creado correctamente.
		</div>
		<div th:if="${create != null && !create}" class="alert alert-danger">
			<strong>Error!</strong> Error al crear el becado.
		</div>
		<div class="panel-footer">
			<a class="btn btn-sm btn-success" th:href="@{/becados/add/}">Nuevo becado</a> 
			<a class="btn btn-sm btn-primary" th:href="@{/}">Atrás</a>
		</div>
	</div>
</body>
</html>