<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="UTF-8" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width" />
<title>NucleHonduras</title>
</head>
<body>
 
	<br>
	<div sec:authorize="isAuthenticated()">
		<div>
		<img src="https://github.com/AlexCalvo/NucleoWare/blob/master/NucleHonduras/spring-demo-master/src/main/resources/templates/images/NucleHonduras.png?raw=true" border="3" alt="NUCLEHONDURAS" width="200" height="200">
		
		<h1 style="background-color:LightSalmon;"> Bienvenido a NucleHonduras, estás logueado con el usuario <b sec:authentication="name"></b></h1>
			<b sec:authentication="name"></b>
			
		</div>
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Logout" />
		</form>
		
	</div>

	<div sec:authorize="isAnonymous()">
		<div>No estás logueado</div>
		<a href="/login">Login</a>
		<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQKzq63DoXkQRcAwO8BRHH63b-IN9ohWSmqRW7ppqXOGanzEnwn" border="0" alt="acoes" width="200" height="200">
		
	</div>

	<div sec:authorize="isAuthenticated()">
		<h1 style="background-color:LightSalmon;"> Opciones</h1>
		<div class="form-group row">
			<a href="/becados"  > Gestión de Becados </a>
		</div>
		<div class="form-group row">
			<a href="/socios"  > Gestión de Socios </a>
		</div>
		<div class="form-group row">
			<a href="/usuario"  > Gestión de Usuarios </a>
		</div>
		<div class="form-group row">
			<a href="/apadrinamientos"  > Gestión de Apadrinamientos </a>
		</div>
		
		<div class="form-group row">
			<a href="/proyectos"  > Gestión de Proyectos </a>
		</div>
		<div class="form-group row">
			<a href="/comunidades"  > Gestión de Comunidades </a>
		</div>
		<div class="form-group row">
			<a href="/economia" > Gestión Económica </a>
		</div>
		
		<div class="form-group row">
			<a href="/bienes" > Gestión de Bienes </a>
		</div>
	</div>
	
	

	<br>
	
	
	
	

</body>
</html>
