<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width" />
<title>Editar Becado</title>
<!-- jQuery library -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	rel="stylesheet"></link>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="panel panel-default">
		<div class="panel-heading">
			<strong>Actualizar Becados</strong>
		</div>
		<div class="panel-body">
			<form class="form-horizontal" action="#" th:object="${becado}"
				th:action="@{/becados/edit}" method="post" style="margin: 10px">
				<div class="form-group">
					<fieldset>
						
						<div class="form-group row">
							<div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
								<div th:each="detailedError : ${#fields.detailedErrors()}">
									<span th:text="${detailedError.message}"></span>
								</div>
							</div>
						</div>
						
						<div class="form-group row">
							<div class="col-md-4"
								th:classappend="${#fields.hasErrors('nombre')}? 'has-error'">
								<label>Nombre</label> <input type="text"
									class="form-control input-sm" th:field="*{nombre}"
									autofocus="autofocus" placeholder="Nombre" maxlength="50" />
							</div>
						</div>
						
						<div class="form-group row">
							<div class="col-md-4"
								th:classappend="${#fields.hasErrors('apellido')}? 'has-error'">
								<label>Apellidos</label> <input type="text"
									class="form-control input-sm" th:field="*{apellido}"
									autofocus="autofocus" placeholder="Apellidos" maxlength="50" />
							</div>
						</div>

						<div class="form-group row">
							<div class="col-md-4"
								th:classappend="${#fields.hasErrors('id')}? 'has-error'">
								<label>ID</label> <input type="text"
									class="form-control input-sm" th:field="*{id}"
									autofocus="autofocus" placeholder="id" maxlength="15" disabled />
							</div>
						</div>
						
						<div class="form-group row">
							<div class="col-md-4"
								th:classappend="${#fields.hasErrors('fecha_nacimiento')}? 'has-error'">
								<label>Fecha_Nacimiento</label> <input type="date"
									class="form-control input-sm" th:field="*{fecha_nacimiento}"
									autofocus="autofocus" placeholder="Fecha_Nacimiento" maxlength="15" />
							</div>
						</div>
						
						<div class="form-group row">
							<div class="col-md-4"
								th:classappend="${#fields.hasErrors('fecha_ingreso_acoes')}? 'has-error'">
								<label>Fecha_Ingreso_Acoes</label> <input type="date"
									class="form-control input-sm" th:field="*{fecha_ingreso_acoes}"
									autofocus="autofocus" placeholder="fecha_ingreso_acoes" maxlength="15" />
							</div>
						</div>
						
						<div class="form-group row">
							<div class="col-md-4"
								th:classappend="${#fields.hasErrors('fecha_ingreso_proyecto')}? 'has-error'">
								<label>Fecha_Ingreso_Proyecto</label> <input type="date"
									class="form-control input-sm" th:field="*{fecha_ingreso_proyecto}"
									autofocus="autofocus" placeholder="fecha_ingreso_proyecto" maxlength="15" />
							</div>
						</div>
						
						<div class="form-group row">
							<div class="col-md-4"
								th:classappend="${#fields.hasErrors('fecha_salida_proyecto')}? 'has-error'">
								<label>Fecha_Salida_Proyecto</label> <input type="date"
									class="form-control input-sm" th:field="*{fecha_salida_proyecto}"
									autofocus="autofocus" placeholder="fecha_salida_proyecto" maxlength="15" />
							</div>
						</div>
						
							<div class="form-group row">
							<div class="col-md-4"
								th:classappend="${#fields.hasErrors('notaMedia')}? 'has-error'">
								<label>NotaMedia</label> <input type="text"
									class="form-control input-sm" th:field="*{notaMedia}"
									autofocus="autofocus" placeholder="notaMedia" maxlength="250" />
							</div>
						</div>
						<div class="form-group row">
							<div class="col-md-4"
								th:classappend="${#fields.hasErrors('observaciones')}? 'has-error'">
								<label>Observaciones</label> <input type="text"
									class="form-control input-sm" th:field="*{observaciones}"
									autofocus="autofocus" placeholder="observaciones" maxlength="250" />
							</div>
						</div>
						
						<div class="form-group row">
							<div class="col-md-4"
								th:classappend="${#fields.hasErrors('proyecto')}? 'has-error'">
								<label>Proyecto</label> <input type="text"
									class="form-control input-sm" th:field="*{proyecto}"
									autofocus="autofocus" placeholder="proyecto" maxlength="15" />
							</div>
						</div>
						
						<div class="form-group row">
							<div class="col-md-4"
								th:classappend="${#fields.hasErrors('comunidad')}? 'has-error'">
								<label>Comunidad</label> <input type="text"
									class="form-control input-sm" th:field="*{comunidad}"
									autofocus="autofocus" placeholder="comunidad" maxlength="15" />
							</div>
						</div>
						
						
					</fieldset>
				</div>
				<div class="form-group row">
					<button type="submit" class="btn btn-sm btn-primary">Guardar</button>
					<a th:href="@{/becados}" class="btn btn-sm btn-default">Cancelar</a>
				</div>
			</form>
		</div>
	</div>
</body>
</html>