<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width" />
<title>Nueva Socios</title>
<!-- jQuery library -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	rel="stylesheet"></link>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="panel panel-default">
		<div class="panel-heading">
			<strong>Actualizar Socios</strong>
		</div>
		<div class="panel-body">
			<form class="form-horizontal" action="#" th:object="${socios}"
				th:action="@{/socios/edit}" method="post" style="margin: 10px">
				<div class="form-group">
					<fieldset>
						<div class="form-group row">
							<div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
								<div th:each="detailedError : ${#fields.detailedErrors()}">
									<span th:text="${detailedError.message}"></span>
								</div>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-md-4"
								th:classappend="${#fields.hasErrors('nombre')}? 'has-error'">
								<label>Nombre</label> <input type="text"
									class="form-control input-sm" th:field="*{nombre}"
									autofocus="autofocus" placeholder="Nombre" maxlength="50" />
							</div>
						</div>
						<div class="form-group row">
							<div class="col-md-4"
								th:classappend="${#fields.hasErrors('apellido')}? 'has-error'">
								<label>Apellidos</label> <input type="text"
									class="form-control input-sm" th:field="*{apellido}"
									autofocus="autofocus" placeholder="Apellidos" maxlength="50" />
							</div>
						</div>

						<div class="form-group row">
							<div class="col-md-4"
								th:classappend="${#fields.hasErrors('dni')}? 'has-error'">
								<label>DNI</label> <input type="text"
									class="form-control input-sm" th:field="*{dni}"
									autofocus="autofocus" placeholder="DNI" readonly
									maxlength="15" />
							</div>
						</div>
						
						<div class="form-group row">
							<div class="col-md-4"
								th:classappend="${#fields.hasErrors('email')}? 'has-error'">
								<label>E-MAIL</label> <input type="text"
									class="form-control input-sm" th:field="*{email}"
									autofocus="autofocus" placeholder="email" maxlength="50" />
							</div>
						</div>
						<div class="form-group row">
							<div class="col-md-4"
								th:classappend="${#fields.hasErrors('telefono')}? 'has-error'">
								<label>TELEFONO</label> <input type="text"
									class="form-control input-sm" th:field="*{telefono}"
									autofocus="autofocus" placeholder="telefono" maxlength="9" />
							</div>
						</div>
						<div class="form-group row">
							<div class="col-md-4"
								th:classappend="${#fields.hasErrors('direccion')}? 'has-error'">
								<label>DIRECCION</label> <input type="text"
									class="form-control input-sm" th:field="*{direccion}"
									autofocus="autofocus" placeholder="direccion" maxlength="50" />
							</div>
						</div>
						<div class="form-group row">
							<div class="col-md-4"
								th:classappend="${#fields.hasErrors('provincia')}? 'has-error'">
								<label>PROVINCIA</label> <input type="text"
									class="form-control input-sm" th:field="*{provincia}"
									autofocus="autofocus" placeholder="provincia" maxlength="50" />
							</div>
						</div>
						<div class="form-group row">
							<div class="col-md-4"
								th:classappend="${#fields.hasErrors('fecha_alta')}? 'has-error'">
								<label>FECHA_ALTA</label> <input type="date"
									class="form-control input-sm" th:field="*{fecha_alta}"
									autofocus="autofocus" placeholder="fecha_alta" maxlength="50" />
							</div>
						</div>
						<div class="form-group row">
							<div class="col-md-4"
								th:classappend="${#fields.hasErrors('fecha_baja')}? 'has-error'">
								<label>FECHA_BAJA</label> <input type="date"
									class="form-control input-sm" th:field="*{fecha_baja}"
									autofocus="autofocus" placeholder="fecha_baja" maxlength="50" />
							</div>
						</div>
						<div class="form-group row">
							<div class="col-md-4"
								th:classappend="${#fields.hasErrors('observaciones')}? 'has-error'">
								<label>OBSERVACIONES</label> <input type="text"
									class="form-control input-sm" th:field="*{observaciones}"
									autofocus="autofocus" placeholder="observaciones" maxlength="250" />
							</div>
						</div>
						<div class="form-group row">
							<div class="col-md-4"
								th:classappend="${#fields.hasErrors('cuota')}? 'has-error'">
								<label>CUOTA</label> <input type="text"
									class="form-control input-sm" th:field="*{cuota}"
									autofocus="autofocus" placeholder="cuota" maxlength="15" />
							</div>
						</div>
					</fieldset>
				</div>
				<div class="form-group row">
					<button type="submit" class="btn btn-sm btn-primary">Guardar</button>
					<a th:href="@{/socios}" class="btn btn-sm btn-default">Cancelar</a>
				</div>
			</form>
		</div>
	</div>
</body>
</html>